/* Fonts */

.HACKER-NEWS {
  width: 208px;
  height: 28px;
  object-fit: contain;
  font-family: Baskerville, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
} 